body 
{
    justify-content:center;
}

header {
    border: dashed;
}

h1 {
    text-align: center;
    border: dashed;
    border-radius: 5px 5px;
    display: block;
}

h2 {
    text-align: center;
    border: dashed;
    border-radius: 10px 10px;
}

p
{
    text-align:center;
    display:block
}

.logoImage {
    width: 100px;
    height: 100px;
    display: inline;
}

.vanImage {
    width: 250px;
    height: 100px;
    align-items:flex-end;
    padding:inherit;
}
