body 
{
    justify-content:center;
}

header {
    border: dashed;
}

h1 {
    text-align: center;
    border: dashed;
    border-radius: 5px 5px;
    display: inline;
}

h2 {
    text-align: center;
    border: dashed;
    border-radius: 10px 10px;
}

h3 
{

}

h4 
{

}

h5 
{

}

p
{
    text-align:center;
    
}

.logoImage{
    width:100px;
    height:100px;
    display:inline;
}
